section {
  margin: 4rem 0;
  overflow: hidden;
}

.listings .listing-card {
  overflow: hidden;
}

.listings .listing-card img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-filter;
  transition-property: -webkit-transform, -webkit-filter;
  transition-property: transform, filter;
  transition-property: transform, filter, -webkit-transform, -webkit-filter;
}

.listings .listing-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.about-us_text h1 {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2rem;
}

.about-us_text h2 {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 1.25rem;
}

.about-us_text p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.why-us {
  min-height: 500px;
}

@media (min-width: 1024px) {
  .why-us {
    min-height: unset;
    height: 500px;
  }
}

.why-us img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .why-us img {
    height: 500px;
  }
}

.app-carousel-container .carousel-wraper {
  height: 240px;
}

.app-carousel-container .carousel-wraper .listing-card {
  height: 240px;
  overflow: hidden;
}

.app-carousel-container .carousel-wraper .listing-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: -webkit-transform, -webkit-filter;
  transition-property: -webkit-transform, -webkit-filter;
  transition-property: transform, filter;
  transition-property: transform, filter, -webkit-transform, -webkit-filter;
}

.app-carousel-container .carousel-wraper .listing-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.app-carousel-container .slick-slider,
.app-carousel-container .slick-list,
.app-carousel-container .slick-track {
  height: 100%;
}

.app-carousel-container .slick-slider .slick-slide,
.app-carousel-container .slick-list .slick-slide,
.app-carousel-container .slick-track .slick-slide {
  padding: 0 0.5rem;
}

.section-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #37465f;
}

@media (min-width: 1024px) {
  .section-title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.arrows {
  display: none;
}

@media (min-width: 1024px) {
  .arrows {
    position: absolute;
    top: 10%;
    left: -0.75rem;
    right: -0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .arrows button {
    background-color: #f8f9fa;
    width: 2rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
  }
  .arrows button svg {
    fill: #37465f;
    width: 0.75rem;
  }
}

.hero-search .mx-datepicker {
  height: 100% !important;
  width: auto !important;
}

.hero-search .mx-datepicker input {
  width: 100% !important;
}

.hero-search input {
  padding: 0.8rem !important;
  height: unset !important;
  border-radius: unset !important;
  font-size: 14px !important;
  line-height: unset !important;
  width: unset !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  border: unset !important;
}

.hero-search input:focus, .hero-search input:active {
  outline: 0;
}

.hero-search form {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.hero-search form input {
  border-radius: 0.25rem !important;
}

.hero-search form input:focus {
  outline: 1px solid #29bdef;
}

.hero-search form button {
  background-color: #29bdef;
  padding: 0.8rem;
  border-radius: 0.25rem !important;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .hero-search form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.15rem;
  }
  .hero-search form .form-item {
    width: 20% !important;
  }
  .hero-search form button {
    padding: 0.8rem 3rem;
    width: 20%;
  }
}

@media (min-width: 1440px) {
  .hero-search form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.15rem;
  }
  .hero-search form .form-item {
    width: 15% !important;
  }
  .hero-search form button {
    padding: 0.8rem 3rem;
    width: 15%;
  }
}

.app-update {
  height: 400px;
}

.app-update .container {
  height: 100%;
}

.app-update .container .app-update__content {
  height: 100%;
}

.app-update .container img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-footer nav .brand .brand-links a::after {
  content: '-';
}

.app-footer nav .brand .brand-links a:last-child::after {
  content: '';
}

.coach-profile {
  color: white;
}

.coach-profile .coach-hero {
  background: linear-gradient(135deg, #263043 0%, #08a7de 100%);
}

.coach-profile .coach-hero .coach-hero__wraper-right {
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.151);
  cursor: pointer;
}

.video-overlay svg {
  width: 18px;
  fill: white;
}

@media (min-width: 1024px) {
  .video-overlay svg {
    width: 30px;
  }
}

.coach-classes-carousel__arrows {
  position: absolute;
  top: -2rem;
  right: 0.6rem;
}

.coach-classes-carousel__arrows button {
  padding: 0.5rem 1rem;
}

.coach-classes-carousel__arrows svg {
  width: 12px;
}

.coach-classes-carousel__arrows button.bg-profile_light_1 svg {
  fill: white !important;
}

.coach-classes-carousel {
  padding: 4rem 0;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
}

.coach-classes-carousel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.698);
}

.coach_gallery__showmore svg {
  fill: #08a7de !important;
}

.coach_gallery__showmore svg path {
  fill: #08a7de !important;
}

.coach-testimonials__slider {
  padding: 5rem 0;
}

#single-testimonial__text {
  position: relative;
}

#single-testimonial__text svg {
  fill: white !important;
  width: 24px;
}

#single-testimonial__text svg:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#single-testimonial__text svg:last-child {
  float: right;
}

#single-testimonial__text p {
  margin: 1rem 0;
}

.custom-dot-class li button::before {
  color: white !important;
  width: 25px !important;
  height: 25px !important;
}
