.about-us_text {
  h1 {
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 2rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.25rem;
  }
  p{
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
.why-us {
  height: 500px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
