$profile_dark_1: #263043;
$profile_dark_2: #37465f;
$profile_light_1: #08a7de;
$profile_gray: #4c5463;

section {
  margin: 4rem 0;
  overflow: hidden;
}

.listings {
  .listing-card {
    overflow: hidden;

    img {
      transition: 0.3s ease-in-out;
      transition-property: transform, filter;
    }

    &:hover {
      img {
        transform: scale(1.1);
        filter: grayscale(0.5);
      }
    }
  }
}

.about-us_text {
  h1 {
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

.why-us {
  min-height: 500px;
  @media (min-width: 1024px) {
    min-height: unset;
    height: 500px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (min-width: 1024px) {
      height: 500px;
    }
  }
}

.app-carousel-container {
  .carousel-wraper {
    height: 240px;

    .listing-card {
      height: 240px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.3s ease-in-out;
        transition-property: transform, filter;
      }

      &:hover {
        img {
          transform: scale(1.1);
          filter: grayscale(0.5);
        }
      }
    }
  }
}

.app-carousel-container {
  .slick-slider,
  .slick-list,
  .slick-track {
    height: 100%;

    .slick-slide {
      padding: 0 0.5rem;
    }
  }
}

.section-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #37465f;
  @media (min-width: 1024px) {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.arrows {
  display: none;
  @media (min-width: 1024px) {
    position: absolute;
    top: 10%;
    left: -0.75rem;
    right: -0.75rem;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    button {
      background-color: #f8f9fa;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      svg {
        fill: #37465f;
        width: 0.75rem;
      }
    }
  }
}

.hero-search {
  .mx-datepicker {
    height: 100% !important;
    width: auto !important;

    input {
      width: 100% !important;
    }
  }

  input {
    padding: 0.8rem !important;
    height: unset !important;
    border-radius: unset !important;
    font-size: 14px !important;
    line-height: unset !important;
    width: unset !important;
    box-shadow: unset !important;
    border: unset !important;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    input {
      border-radius: 0.25rem !important;

      &:focus {
        outline: 1px solid #29bdef;
      }
    }

    button {
      background-color: #29bdef;
      padding: 0.8rem;
      border-radius: 0.25rem !important;
      color: white;
      font-weight: 700;
      font-size: 14px;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      gap: 0.15rem;
      .form-item {
        width: 20% !important;
      }
      button {
        padding: 0.8rem 3rem;
        width: 20%;
      }
    }
    @media (min-width: 1440px) {
      flex-direction: row;
      align-items: center;
      gap: 0.15rem;
      .form-item {
        width: 15% !important;
      }
      button {
        padding: 0.8rem 3rem;
        width: 15%;
      }
    }
  }
}

.app-update {
  height: 400px;

  .container {
    height: 100%;

    .app-update__content {
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.app-footer {
  nav {
    .brand {
      .brand-links {
        a::after {
          content: '-';
        }
      }

      .brand-links a:last-child {
        &::after {
          content: '';
        }
      }
    }
  }
}

.coach-profile {
  color: white;

  .coach-hero {
    background: linear-gradient(
        135deg,
        $profile_dark_1 0%,
        $profile_light_1 100%
    );

    .coach-hero__wraper-right {
      position: relative;
    }
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.151);
  cursor: pointer;

  svg {
    width: 18px;
    fill: white;

    @media (min-width: 1024px) {
      width: 30px;
    }
  }
}

.coach-classes-carousel__arrows {
  position: absolute;
  top: -2rem;
  right: 0.6rem;

  button {
    padding: 0.5rem 1rem;
  }

  svg {
    width: 12px;
  }

  button.bg-profile_light_1 {
    svg {
      fill: white !important;
    }
  }
}

.coach-classes-carousel {
  padding: 4rem 0;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
}

.coach-classes-carousel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.698);
}

.coach_gallery__showmore {
  svg {
    fill: $profile_light_1 !important;

    path {
      fill: $profile_light_1 !important;
    }
  }
}

.coach-testimonials__slider {
  padding: 5rem 0;
}

#single-testimonial__text {
  position: relative;

  svg {
    fill: white !important;
    width: 24px;

    &:first-child {
      transform: rotate(180deg);
    }

    &:last-child {
      float: right;
    }
  }

  p {
    margin: 1rem 0;
  }
}

.custom-dot-class {
  li {
    button::before {
      color: white !important;
      width: 25px !important;
      height: 25px !important;
    }
  }
}

.animation-pulse {
  /*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
  transform: scale(0.8);*/
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {

    box-shadow: 0 0 0 0 rgba(255, 188, 17, 1);
  }

  70% {
    //transform: scale(1);
    box-shadow: 0 0 0 15px rgba(255, 188, 17, 0);
  }

  100% {
    //transform: scale(0.8);
  }
}

:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, theme('colors.warning.DEFAULT') var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body {
  color: theme('colors.secondary.DEFAULT')
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.tw-table {
  td, th {
    padding: 15px 10px;
    text-align: left;

    &.text-right {
      text-align: right !important;
    }

    &.text-center {
      text-align: center !important;
    }
  }
}

.custom-control {
  display: flex;
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
      --active: theme('colors.primary.DEFAULT');
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: theme('colors.primary.700');
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;

      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }

      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }

      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;

        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }

        & + label {
          cursor: not-allowed;
        }
      }

      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }

      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }

      &:not(.switch) {
        width: 21px;

        &:after {
          opacity: var(--o, 0);
        }

        &:checked {
          --o: 1;
        }
      }

      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 8px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;

        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }

        &:checked {
          --r: 43deg;
        }
      }

      &.switch {
        width: 38px;
        border-radius: 11px;

        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }

        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }

        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
    input[type='radio'] {
      border-radius: 50%;

      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, .7));
      }

      &:checked {
        --s: .5;
      }
    }
  }
}

.own-picker {
  .mx-datepicker-main {
    border: none !important;
  }
  .mx-calendar {
    width: 100% !important;
    padding: 0!important;
  }

  .mx-calendar-header-label {
    .mx-btn {
      font-size: 18px !important;
      color: black;
    }
  }

  .cell {
    color: black;
    font-size: 16px;
    border-radius: 10px;

    &:hover {
      background: theme('colors.warning.DEFAULT') !important;
      color: white !important;
    }
  }

  .cell.active {
    background: #EEEEEE !important;
    color: black !important;
    box-shadow: none;
  }
}

.v-popper__inner {
  border-radius: 1.25rem !important;
  padding: 8px 0;
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  top: 0;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-popper--shown {
  .more-button {
    background: theme('colors.primary.100');
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */
{
  opacity: 0
}
